{{#if resume.education.length}}
<div class="container education">
    {{> title value="Education" level=2}}

    {{#each resume.education}}
    <section class="education__item">
        {{> section-header name=(formatDegree studyType area) headerLevel=3}}

        <span class="education__item__specialization">{{specialization}}</span>
        <div>
            <span class="education__item__type-area">
                {{this.institution}}
            </span>
            {{#if location}}
                <span class="education__item__location">{{location}}</span>
            {{/if}}
            {{#if gpa}}
                <span class="education__item__gpa pull-right">{{gpa}}</span>
            {{/if}}
        </div>


        {{#if courses.length}}
            <ul class="education__item__courses two-column">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}
