{{#if resume.education.length}}
<div class="container education">
    {{> title value="Education" level=2}}

    {{#each resume.education}}
    <section class="education__item">
        {{> section-header name=this.institution headerLevel=3}}

        {{#if location}}
            <span class="education__item__location">{{location}}</span>
        {{/if}}

        <div>
            <span class="education__item__type-area">
                {{#if studyType}}
                    {{studyType}}
                {{/if}}
                {{#if area}}
                    {{area}}
                {{/if}}
            </span>
            {{#if specialization}}
            <span class="education__item__specialization">
                {{specialization}}
            </span>
            {{/if}}
            {{#if gpa}}
                <span class="education__item__gpa pull-right">{{gpa}}</span>
            {{/if}}
        </div>


        {{#if courses.length}}
            <ul class="eductation__item__courses two-column">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}
