<div class="contact-info__item">
    {{#if icon}}
        <i class="contact-info__icon fa {{icon}}"></i>
    {{/if}}

    {{#if url}}
            <a class="contact-info__text" href="{{url}}" target="_blank">
                {{removeProtocol text}}
            </a>
    {{else}}
        <span class="contact-info__text">{{{text}}}</span>
    {{/if}}
</div>
