<div class="section-header clearfix">
    {{#if name}}
    <h{{{headerLevel}}} class="section-header__title pull-left">
        {{#if website}}
            <a href="{{website}}" target="_blank">
                {{name}}
            </a>
        {{else}}
            {{name}}
        {{/if}}
    </h{{{headerLevel}}}>
    {{/if}}
    <span class="section-header__date italic pull-right">
        {{#if startDate}}
            <span class="startDate">{{formatDate startDate}}</span>
            {{#if endDate}}
            <span class="endDate"> - {{formatDate endDate}}</span>
            {{else}}
            <span class="endDate"> - Present</span>
            {{/if}}
        {{else if releaseDate}}
            {{formatDate releaseDate}}
        {{/if}}
    </span>
</div>
